@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";

    ViewData["LoggedIn"] = "false";
}



<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <img src="images/logo.png"/>

    <p> </p>
</div>

@if (TempData["LogoutMessage"] != null)
{
    <script>
        alert('@TempData["LogoutMessage"]');
    </script>
}